<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading"><!-- nothing to say --></h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        build with improved technologies
      </div>

      <div class="footer-col footer-col-2">
       <!-- hidden in comments -->
      </div>

      <div class="footer-col footer-col-3">
        <!-- hidden in comments -->
      </div>
    </div>

  </div>

</footer>
